<img src="{{ album.album_logo }}" height="200" width="200">

<h1>{{ album.album_title }}</h1>
<h2>{{ album.artist }}</h2>

{%if error_message%}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'music_up_down_load:favorite' album.id %}" method="post">
    {% csrf_token %}
    {% for song in album.song_set.all %}
        <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}" />
        <label for="song{{ forloop.counter }}">
            {{ song.song_title }}
            {% if song.is_favorite %}
               <img src="https://i.stack.imgur.com/LQk8v.png" height="20" width="20" />
            {% endif %}
        </label><br>
    {% endfor %}
    <input type="submit" value="Favorite" />
</form>