<!--load the path to the static files -->
{% load static %}
<!--Αναφορά στο static αρχείο -->
 <link href="{% static 'music_up_down_load/css/style.css' %}" rel="stylesheet">
<!--Αναφορά στο bootstrap -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% if all_albums %}
    <h3>Here are  albums</h3>
    <ul>
        {% for album in all_albums %}
        <li><a href="{% url 'music_up_down_load:details' album.id %}" >{{ album.album_title }} {{ album.artist }}</a></li>
        {% endfor %}
    </ul>
    <br>
    <a href="{% url 'music_up_down_load:album-add' %}">Add album</a>
{% else %}

    <h3>You don't have any albums</h3>
{% endif %}



