{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Προφίλ{% endblock %}
{% block content %}
{% if user.is_authenticated  %}
<div style="padding-top:70px; background-color:#101820ff;">
            <div class="container-fluid" style="height:200px; background-image: linear-gradient(rgb( 40,40,40), rgb( 0, 0, 0));">
                <div class="row">
                    <div class="col-lg-2" style="padding:25px;">
                        <img class="w3-round"  src="{{ user.profile.image.url }}" width="200" height="150"/>
                    </div>
                    <div class="col-lg-4" style="padding-left:50px;" >
                        <p style="color:white; padding-top:30px; font-size:30px;">{{ user.username }}</p>
                        <p style="color:white;  font-size:20px;font-family: Times,Times New Roman, serif">{{ user.email }}</p>
                        <p style="color:white;  font-size:20px;">{{ user.first_name }} {{ user.last_name }}</p>
                    </div>
                    <div class="col-lg-6" style="padding-left:50px;" >
                        <p id="music" style=" color:white;"></p>

                    </div>
                </div>
            </div>
               <div style="background-color:#101820ff;">
                  <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {% for field in u_form %}

                            <p style="color:white; font-size:20px;">{{ field.label}}</p>
                            {{ field }}<br>
                            {% if  field.label == 'Όνομα Χρήστη'%}
                                <small style="color: grey">Απαιτείται. 150 χαρακτήρες ή λιγότεροι</small>
                            {% endif %}
                            {% if  field.label == 'Όνομα'%}
                                <small style="color: grey">Προαιρετικά</small>
                            {% endif %}
                            {% if  field.label == 'Επίθετο'%}
                                <small style="color: grey"></small>
                            {% endif %}
                            {% if  field.label == 'Email'%}
                                <small style="color: grey">Απαιτείται. Εισάγετε μια έγκυρη διέυθηνση email(πχ someone@mail.com)</small>
                            {% endif %}
                            {% if  field.label == 'Επίθετο'%}
                                <small style="color: grey">Προαιρετικά</small>
                            {% endif %}

                        {% endfor %}
                        {% for field in p_form %}

                            <p style="color:white; font-size:20px;">{{ field.label}}</p>
                            {{ field }}<br>
                            {% if field.help_text %}
                                <small style="color: white">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}

                        {% endfor %}
                    </fieldset>
                      <br>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Ανανέωση</button><br> <br>
                    </div>
                      <br> <br>
                </form>
               </div>
</div>

<script>
    var inputs = document.getElementsByTagName("input");
    var x = new Array("Music:");
    for(var i = 0; i < inputs.length; i++) {
    if(inputs[i].type == "checkbox") {
        if(inputs[i].checked == true){
            x.push(inputs[i].value);
         }
    }
}
document.getElementById("music").innerHTML = x;

</script>
{%else%}
            <h1>no profile</h1>
{% endif %}

{% endblock %}