{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if profile %}
            <div class="content-section">
                  <div class="media">
                    <img class="rounded-circle account-img" src="{{ profile.image.url }}" width="200" height="150"/>
                    <div class="media-body">
                      <h2 class="account-heading">{{ profile.user.username }}</h2>
                      <p class="text-secondary">{{ profile.user.email }}</p>
                    </div>
                  </div>


                        <legend class="border-bottom mb-4">Στοιχεία προφίλ</legend>
                         <div align="left">
                             <p style="font-size:160% ">First Name :</p> <p>{{ profile.user.first_name }}</p>
                             <p style="font-size:160%">Last Name :</p><p>{{ profile.user.last_name }}</p>
                             <p style="font-size:160%">Email :</p><p>{{ profile.user.email }}</p>
                             <p style="font-size:160%">Birth Date :</p><td>{{ form.birth_date}}</td>

                         </div>

            </div>
{% endif %}

{% endblock %}