{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if profile %}
            <div class="content-section">
                  <div class="media">
                    <img class="rounded-circle account-img" src="{{ profile.image.url }}" width="200" height="150"/>
                    <div class="media-body">
                      <h2 class="account-heading">{{ profile.user.username }}</h2>
                      <p class="text-secondary">{{ profile.user.email }}</p>
                    </div>
                  </div>


                        <legend class="border-bottom mb-4">Στοιχεία προφίλ</legend>
                         <div align="left">
                             <p style="font-size:160% ">First Name :</p> <p>{{ user.first_name }}</p>
                             <p style="font-size:160%">Last Name :</p><p>{{user.last_name }}</p>
                             <p style="font-size:160%">Email :</p><p>{{ user.email }}</p>
                             <p style="font-size:160%">Birth Date :</p><td>{{ profile.birth_date}}</td>
                             <p style="font-size:160%">Music category :</p><p>{{ profile.music_category }}</p>
                             <p style="font-size:160%">Music nature :</p><p>{{ profile.music_nature }}</p>
                              <p style="font-size:160%">Songs :</p>



                         </div>

                                {% for song in user.song_set.all %}
                                    {% if song.is_public == True %}
                                        <div class="col-lg-2" style="text-align:right; ">
                                            <p style="color:black; font-size:20px;">{{ song.composition_title }} :</p>
                                        </div>
                                        <audio controls>
                                            <source src="{{ song.composition.url }}" type="audio/ogg">
                                            <source src="{{ song.composition.url }}"  type="audio/mpeg">

                                        Your browser does not support the audio element.
                                        </audio>
                                    {% endif %}
                                {% endfor %}

            </div>
{% endif %}

{% endblock %}